@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header Styles */

/* Navbar Section */
nav .navbar {
  background-color: rgba(26, 11, 46, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px 15px;
}

nav .navbar .logo h3 {
  font-size: 35px;
  font-weight: 700;
  color: white;
}

nav .navbar .logo #logo {
  background: linear-gradient(48deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav .navbar .links ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav .navbar .links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(48deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

nav .navbar .hamburger-menu {
  display: none;
}

/* Hero Styles */
.hero-container {
  background: url(../assets/hero-bg.png);
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container .hero-img {
  position: relative;
  width: 350px;
  height: 350px;
  bottom: 10%;
}

.hero-container .hero-img .circle-img {
  width: 100%;
  height: auto;
}

.hero-container .hero-img .circle-mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.hero-container .hero-content {
  text-align: center;
  color: white;
}

.hero-container .hero-content h3 {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 8px;
}

.hero-container .hero-content p {
  font-size: 16px;
  margin-bottom: 24px;
}

.hero-container .hero-content .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-container .hero-content .btn-group .btn-secondary {
  background: none;
  border: 2px solid #00FF88;
  color: #00FF88;
  padding: 12px 20px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
}

.hero-container .hero-content .btn-group .btn-primary-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(48deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

/* Main Styles */

/* About Styles */
.about-container {
  background-color: rgba(26, 11, 46, 1);
  padding: 50px 200px 120px;
}

.about-container .about-content {
  color: white;
  text-align: center;
}

.about-container .about-content h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-container .about-content p {
  font-size: 16px;
  margin-bottom: 100px;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0 auto;
}

.about-cards .card h3 {
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
}

.about-cards .card p {
  font-size: 16px;
  color: white;
}

/* Featured Styles */
.featured-container {
  padding: 80px 80px 80px;
  background-color: rgba(26, 11, 46, 1);
}

.featured-container h3 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.featured-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.featured-card iframe {
  border-radius: 24px 24px 0px 0px;
  width: 500px;
}

.featured-card .content {
  background-color: rgba(37, 13, 68, 1);
  width: 500px;
  border-radius: 0px 0px 24px 24px;
  padding: 24px 24px;
}

.featured-card .content h4 {
  color: white;
  font-size: 24px;
  margin-bottom: 12px;
}

.featured-card .content p {
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}

.featured-card .content h5 {
  color: #00FF88;
}

/* Guest Styles */
.guest-container {
  margin-top: 120px;
}

.guest-container h3 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.guest-content {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.guest-text {
  color: white;
}

.guest-text h4 {
  font-size: 32px;
  font-weight: 700;
}

.guest-text p {
  font-size: 16px;
  margin-bottom: 16px;
}

.guest-text i {
  background: linear-gradient(48deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
}


/* Media Query */
@media screen and (max-width: 576px) {

  /* Navbar Styles */
  nav .navbar .links,
  .btn-primary {
    display: none;
  }

  nav .navbar .hamburger-menu {
    display: block;
  }

  /* Hero Styles */
  .hero-container .hero-img {
    width: 200px;
    height: 200px;
  }

  .hero-container .hero-content h3 {
    font-size: 40px;
  }

  /* Main Styles */

  /* About Styles */
  .about-container {
    padding: 50px 40px 100px;
  }

  .about-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  /* Featured Styles */
  .featured-cards {
    flex-direction: column;
    gap: 20px;
  }

  /* Guest Styles */
  .guest-content {
    flex-direction: column;
    padding: 10px 10px;
    text-align: center;
  }
}